body{
    background-image: url('/static/assets/images/bg_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FF6767;
    font-family: "Poppins", san-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}
.hero-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55vh;
    border-radius: 10px;
}
.hero-img{
    width: 50%;
}