<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} Dayone {% endblock %}</title>
    {% block style %}
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    {% endblock %}
    {% block script %}
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
            integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer
    ></script>

    <script src="/static/script/script.js" defer></script>
    {% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <div class="nav-header">
            <a href="{{url_for('user_page')}}">Day one</a>
        </div>
        {% else %}
        <div class="nav-header">
            <a href="{{url_for('home')}}">Day one</a>
        </div>
        {% endif %}
        <!-- <div class="toggle-collaspe"> -->
        <ul class="nav-links">
            {% if current_user.is_authenticated %}
            <li class="nav-link">
                <a href="{{url_for('todos')}}">My todos</a>
            </li>
            <li class="nav-link">
                <a href="{{url_for('logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-link">
                <a href="{{url_for('sign_up')}}">Register</a>
            </li>
            <li class="nav-link">
                <a href="{{url_for('login')}}">Sign in</a>
            </li>
            {% endif %}
            <li class="nav-link">
                <a href="#">About</a>
            </li>
            <li class="nav-link">
                <a href="#">Contact</a>
            </li>
        </ul>
        <div class="socials">
            <i class="fa-brands fa-instagram fa-lg"></i>
            <i class="fa-brands fa-x-twitter fa-lg"></i>
            <i class="fa-brands fa-facebook fa-lg"></i>
        </div>

        <div class="menu-button">
            <i class="fa-solid fa-bars fa-lg"></i>
            <i class="fa-solid fa-xmark fa-lg hide"></i>
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p class="text-container">&copy;2022</p>
    <div class="footer-socials">
        <a href="#">Follow us</a>
        <i class="fa-brands fa-youtube fa-lg"></i>
        <i class="fa-brands fa-threads fa-lg"></i>
        <i class="fa-brands fa-facebook fa-lg"></i>
    </div>
</footer>
</body>
</html>