{% extends 'base.html' %}
{% block content %}
<section class="hero-section">
    <div class="hero-text">
        <h1 class="hero-title">
            {{current_user.name}}'s Todos
        </h1>
        <p class="text-body">
            I'm Archimedes Einstein and these are my essential todos.
        </p>
    </div>
    <img
            class="hero-image"
            src="https://plus.unsplash.com/premium_vector-1726318627392-68d857451f77?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
</section>
<section class="completed-section">
    <h1 class="completed-header">Completed Tasks</h1>
    <div class="completed-tasks">
        <div class="task">
            <i class="fa-regular fa-circle-check fa-xl" style="color: #63E6BE;"></i>
            <p class="task-title">Studying Anatomy</p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
        <div class="task">
            <i class="fa-regular fa-circle-check fa-xl" style="color: #63E6BE;"></i>
            <p class="task-title">Studying Physiology
            </p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
        <div class="task">
            <i class="fa-regular fa-circle-check fa-xl" style="color: #63E6BE;"></i>
            <p class="task-title">Studying Biochemistry</p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
    </div>
</section>
<section class="completed-section">
    <h1 class="completed-header">Current Tasks</h1>
    <div class="completed-tasks">
        <div class="task">
            <i class="fa-regular fa-clock fa-xl" style="color: #74C0FC;"></i>
            <p class="task-title">Studying Anatomy</p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
        <div class="task">
            <i class="fa-regular fa-clock fa-xl" style="color: #74C0FC;"></i>
            <p class="task-title">Studying Physiology</p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
        <div class="task">
            <i class="fa-regular fa-clock fa-xl" style="color: #74C0FC;"></i>
            <p class="task-title">Studying Biochemistry</p>
            <div class="task-divider"></div>
            <p class="task-duration">5mins</p>
        </div>
    </div>
</section>
{% endblock %}