{% extends 'base.html' %}
{% block content %}
<section class="hero-section">
    <div class="hero-text">
        <h1 class="hero-title">
            {{current_user.name}}'s Todos
        </h1>
        <p class="text-body">
            I'm {{current_user.name}} and these are my essential todos.
        </p>
    </div>
    <img
            class="hero-image"
            src="https://plus.unsplash.com/premium_vector-1723274509346-262904252101?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
</section>
<section class="completed-section">
    <h2 class="completed-header">Completed Tasks</h2>
    {% if current_user.completed_todo %}
    <div class="completed-tasks">
        {% for todo in current_user.completed_todo %}
        <div class="task">
            <img src="{{todo.todos.img}}"
                 class="task-img">
            <p class="task-title">{{todo.todos.title}}</p>
            <p class="task-duration">{{todo.todos.task_duration}}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="empty-todo">
        <div class="empty-container">
            <img src="https://plus.unsplash.com/premium_photo-1677397576132-5d7412825d0e?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 class="empty-img">
        </div>
        <h3>No task completed</h3>
    </div>
    {% endif %}
</section>
<section class="completed-section">
    <h2 class="completed-header">Current Tasks</h2>
    {% if current_user.current_task %}
    <div class="completed-tasks">
        {% for todo in current_user.current_task %}
        <a class="todo-link" href="{{url_for('todo',todo_id=todo.todos.id)}}">
            <div class="task">
                <img src="{{ todo.todos.img }}"
                     class="task-img">
                <p class="task-title">{{todo.todos.title}} </p>
                <div class="task-container">
                    <p class="task-duration">{{todo.todos.time}}</p>
                    <div class="task-control">
                        <a class="checked" href="{{url_for('completed_todo',todo_id=todo.todos.id)}}">
                            <i class="fa-solid fa-circle-check checked-icon"></i>
                        </a>
                        <a class="edit" href="{{url_for('edit',todo_id=todo.todos.id)}}">
                            <i class="fa-solid fa-pen-to-square edit-icon"></i></a>
                        <a class="delete" href="{{url_for('delete',todo_id=todo.todos.id)}}">
                            <i class="fa-solid fa-trash-can delete-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
            {% endfor %}
    </div>
    {% else %}
    <div class="empty-todo">
        <div class="empty-container">
            <img src="https://plus.unsplash.com/premium_photo-1677397576132-5d7412825d0e?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 class="empty-img">
        </div>
        <h3>No current task</h3>
    </div>
    {% endif %}

</section>
<section class="completed-section">
    <h2 class="completed-header">Add Tasks</h2>
    <a class="cta-btn light" href="{{url_for('add_todo')}}"><span class="add-todo">+</span> Add</a>

</section>
<div class="flash-box">
    <p class="flash-title">Success</p>
    <p>The login was successful</p>
</div>
{% endblock %}